

    
    ion-content{
        background-image: url(../../assets/imgs/dee1.jpg);
        background-repeat: no-repeat;
        height:100;
        background-position: center;
        background-size:cover;
        

    }

H1{
    text-align: center;
}

H2{

    text-align: center;
    padding: 25px;
    position: relative;
    top: 650px;
    


}